<div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <h4>Atenciones</h4>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-outline-success" (click)="openModel()">Registrar</button>
      </div>
    </div>
    @if (atenList.length !== 0) {
    <div class="row">
      
      <div *ngFor="let item of atenList" class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{item.nombre}} {{item.apellido}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <p> Edad : {{item.edad}}</p>
          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-6">
               <small>{{item.diagnostico}}</small> 
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Editar</button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Elimnar</button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      
    </div>
    } @else { 
      <div class="row">
        <div class="col-12 p-4 text-center">
          <p>Sin Atenciones</p>
        </div>
      </div>
    }
  
  </div>
  
  
  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Registrar Atencion</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <form id="form1" [formGroup]="registerform" >
            <div class="row">
              <div class="col-8">
                <label for="">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                <div *ngIf="registerform.get('nombre')?.touched" class="invalid-feedback d-block">
                  <span *ngIf="registerform.get('nombre')!.errors?.['required']">El nombre es obligatorio.</span>
                  <span *ngIf="registerform.get('nombre')!.errors?.['maxlength']">El nombre tiene excede el máximo 32C.</span>
                  <span *ngIf="registerform.get('nombre')!.errors?.['minlength']">El nombre necesita un minimo de 3C.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <label for="">Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido">
                <div *ngIf="registerform.get('apellido')?.touched" class="invalid-feedback d-block">
                  <span *ngIf="registerform.get('apellido')!.errors?.['required']">El apellido es obligatorio.</span>
                  <span *ngIf="registerform.get('apellido')!.errors?.['maxlength']">El apellido tiene excede el máximo 32C.</span>
                  <span *ngIf="registerform.get('apellido')!.errors?.['minlength']">El apellido necesita un minimo de 3C.</span>
                </div>
              </div>     
            </div>
            <div class="row">
              <div class="col-8">
                  <label for="">Edad</label>
                  <input type="text" formControlName="edad" class="form-control" placeholder="Edad">
                  <div *ngIf="registerform.get('edad')?.touched" class="invalid-feedback d-block">
                    <span *ngIf="registerform.get('edad')!.errors?.['required']">La edad es obligatorio.</span>
                    <span *ngIf="registerform.get('edad')!.errors?.['pattern']">Solo Numeros</span>
                    <span *ngIf="registerform.get('edad')!.errors?.['max']">La edad maxima es 120.</span>
                    <span *ngIf="registerform.get('edad')!.errors?.['min']">La edad un minima de 0.</span>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-8">
                <label for="">Diagnostico</label>
                <input type="text" formControlName="diagnostico" class="form-control" placeholder="Diagnostico">
                <div *ngIf="registerform.get('diagnostico')?.touched" class="invalid-feedback d-block">
                  <span *ngIf="registerform.get('diagnostico')!.errors?.['required']">El diagnostico es obligatorio.</span>
                  <span *ngIf="registerform.get('diagnostico')!.errors?.['maxlength']">El diagnostico tiene excede el máximo 32C.</span>
                  <span *ngIf="registerform.get('diagnostico')!.errors?.['minlength']">El diagnostico necesita un minimo de 3C.</span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Cerrar</button>
          @if (editingAtencionId == '') {
            <button type="button" class="btn btn-primary" (click)="saveAten()" [disabled]="this.registerform.invalid" >Grabar</button>
          } @else {
            <button type="button" class="btn btn-success" (click)="updateAten()" [disabled]="this.registerform.invalid">Modificar</button>
          }
      
        </div>
      </div>
    </div>
  </div>